.back_ground_head{
    background-color: #e743ce;
}
.back_ground_body{
    background-color: aqua;
}
.back_ground_foot{
    background-color: royalblue;
}
.letrathead{
    font-family: Arial, Helvetica, sans-serif;
}